body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scroll */
    font-family: 'Electrolize', sans-serif;
 }
 
 .video-background {
    position: fixed;
    top: -20%; /* Adjust top to zoom in */
    left: -20%; /* Adjust left to zoom in */
    width: 140%; /* Increase width to cover adjustment */
    height: 140%; /* Increase height to cover adjustment */
    z-index: -1; /* Place behind everything */
 }
 
 .video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Disables mouse events */
    filter: brightness(600%);
 }

 
 .Navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(10, 15, 36);
    z-index: 1000; 
    text-align: center;
    padding: 15px 0;
 }
 
 .Navigation a {
    color: #e94560;
    text-decoration: none;
    margin: 0 30px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
 }
 
 .Navigation a:hover {
    background-color: #0f3460;
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
 }
 
 
 .Title {
    text-align: center;
    padding: 10px; 
    color: #FFF; 
 }
 
 .Title h1 {
    font-size: 8em;
    letter-spacing: 0.05em;
    color: #e94560; 
    margin-bottom: 0; 
    margin-top: 45px;
    text-shadow: 
        -2px -2px 0 rgba(255, 255, 255, 0.5),  
         2px -2px 0 rgba(255, 255, 255, 0.5),
        -2px  2px 0 rgba(54, 51, 51, 0.5),
         2px  2px 0 rgba(255, 255, 255, 0.5),
         0px  0px 5px rgba(0, 0, 0, 0.5); /* 3D effect with white shadows for outline and black shadow for depth */
 }

 .Title p {
    font-size: 2em; 
    color: #e94560;
    margin: 20px 0 20px 0;
 }
 
 .Introduction {
    margin: auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius: 20px;
    width: 70%;
}

.relevantFeatures {
   margin: auto;
   margin-top: 20px;
   padding: 30px;
   background-color: rgba(0, 0, 0, 0.8); 
   border-radius: 20px;
   width: 70%;
}

.Introduction h2 {
    color: #e94560; /* Header colors */
    font-size: 3.5rem;
    margin: 10px;
    text-align: center;
}

.relevantFeatures h2 {
    color: #e94560; /* Header colors */
    font-size: 2.5rem;
    margin: 10px;
    text-align: center;
}

.Introduction p, .relevantFeatures p {
    text-shadow: 1px 1px 8px rgba(0,0,0,0.8); /* Text shadow for better readability */
    font-size: 15px;
    text-align: center;
    color: #FFF;
}


.feature {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px;
    margin: 30px 0 80px 0;
    color: #FFF; 
 }

 .feature div {
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius: 30px;
 }
 
 
 .feature h3 {
    font-size: 30px;
    color: #e94560;
    text-align: center;
 }
 
 .feature ul {
    list-style-type: disc; 
 }

 .feature ul > li {
    text-align: left;
    font-size: 18px;
 }
 

 .Authors {
    background-color: #0a0f24;
    color: white;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    text-align: center;
 }
 